# Titanic - Machine Learning from Disaster

Link: 
https://www.kaggle.com/c/titanic/overview

In [226]:
#unzip data

import zipfile
zipfile.ZipFile('data/titanic.zip', 'r').extractall('data/')

In [227]:
#view Train data
import pandas as pd
train_df = pd.read_csv('data/train.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [228]:
#describe train data
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [229]:
#view Test data
test_df = pd.read_csv('data/test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [230]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# Test- and TrainData

In [231]:
#drop columns with missing values (Age) and columns that are not needed (Name, Ticket, Cabin)
train_df = train_df[['Survived', 'PassengerId','Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']]
test_df = test_df[['PassengerId','Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']]

#drop rows with missing values
train_df = train_df.dropna(axis=0, how='any')
test_df = test_df.dropna(axis=0, how='any')

#convert categorical data to numerical data
train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})
train_df['Embarked'] = train_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
test_df['Sex'] = test_df['Sex'].map({'male': 0, 'female': 1})
test_df['Embarked'] = test_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

#nomalize data

# Check Data
it seems that not all passengers have a Age in the data

In [232]:
#describe train data
train_df.describe()

,Survived,PassengerId,Pclass,Sex,SibSp,Parch,Fare,Embarked
count,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000
mean,0.382452,446.000000,2.311586,0.350956,0.524184,0.382452,32.096681,0.362205
std,0.486260,256.998173,0.834700,0.477538,1.103705,0.806761,49.697504,0.636157
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,224.000000,2.000000,0.000000,0.000000,0.000000,7.895800,0.000000
50%,0.000000,446.000000,3.000000,0.000000,0.000000,0.000000,14.454200,0.000000
75%,1.000000,668.000000,3.000000,1.000000,1.000000,0.000000,31.000000,1.000000
max,1.000000,891.000000,3.000000,1.000000,8.000000,6.000000,512.329200,2.000000

In [233]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     889 non-null    int64
 1   PassengerId  889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    int64
 4   SibSp        889 non-null    int64
 5   Parch        889 non-null    int64
 6   Fare         889 non-null    float64
 7   Embarked     889 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 62.5 KB

In [234]:
#describe train data
test_df.describe()

,PassengerId,Pclass,Sex,SibSp,Parch,Fare,Embarked
count,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000
mean,1100.635492,2.263789,0.364508,0.448441,0.393285,35.627188,0.465228
std,120.923774,0.842077,0.481870,0.897568,0.982419,55.907576,0.685961
min,892.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.000000,1.000000,0.000000,0.000000,0.000000,7.895800,0.000000
50%,1101.000000,3.000000,0.000000,0.000000,0.000000,14.454200,0.000000
75%,1205.000000,3.000000,1.000000,1.000000,0.000000,31.500000,1.000000
max,1309.000000,3.000000,1.000000,8.000000,9.000000,512.329200,2.000000

In [235]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 417 entries, 0 to 417
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  417 non-null    int64
 1   Pclass       417 non-null    int64
 2   Sex          417 non-null    int64
 3   SibSp        417 non-null    int64
 4   Parch        417 non-null    int64
 5   Fare         417 non-null    float64
 6   Embarked     417 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 26.1 KB

# Convert to Tensors

In [236]:
import torch

features = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']


X_train = torch.from_numpy(train_df[features].values).float()
y_train = torch.from_numpy(train_df[['Survived']].values).float()
X_test = torch.from_numpy(test_df[features].values).float()

In [237]:
X_train, y_train, X_test

(tensor([[ 3.0000,  0.0000,  1.0000,  0.0000,  7.2500],
         [ 1.0000,  1.0000,  1.0000,  0.0000, 71.2833],
         [ 3.0000,  1.0000,  0.0000,  0.0000,  7.9250],
         ...,
         [ 3.0000,  1.0000,  1.0000,  2.0000, 23.4500],
         [ 1.0000,  0.0000,  0.0000,  0.0000, 30.0000],
         [ 3.0000,  0.0000,  0.0000,  0.0000,  7.7500]]),
 tensor([[0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [1.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [1.],
         [1.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [1.],
         [0.],
         [1.],
         [0.]]),
 tensor([[ 3.0000,  0.0000,  0.0000,  0.0000,  7.8292],
         [ 3.0000,  1.0000,  1.0000,  0.0000,  7.0000],
         [ 2.0000,  0.0000,  0.0000,  0.0000,  9.6875],
         ...,
         [ 3.0000,  0.0000,  0.0000,  0.0000,  7.2500],
         [ 3.0000,  0.0000,  0.0000,  0.0000,  8.0500],
         [ 3.0000,  0.0000,  1.0000,  1.0000, 22.3583]]))

# Building a Model

In [238]:
#building model

import torch.nn as nn

model = nn.Sequential(
    nn.Linear(in_features=5, out_features=200),
    nn.ReLU(),
    nn.Linear(in_features=200, out_features=100),
    nn.ReLU(),    
    nn.Linear(in_features=100, out_features=1),
    nn.Sigmoid()
)

model

Sequential(
  (0): Linear(in_features=5, out_features=200, bias=True)
  (1): ReLU()
  (2): Linear(in_features=200, out_features=100, bias=True)
  (3): ReLU()
  (4): Linear(in_features=100, out_features=1, bias=True)
  (5): Sigmoid()
)

In [239]:
# Hyperparameters
learning_rate = 0.001
epochs = 300

# Loss and optimizer
loss_fn = nn.BCELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

In [240]:
# Training loop
for epoch in range(epochs):
    # Forward pass
    outputs = model(X_train)
    loss = loss_fn(outputs, y_train)

    # Backward and optimize
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    # Compute accuracy
    with torch.no_grad():
        predicted = torch.round(outputs)
        correct = (predicted == y_train).sum().item()
        acc = correct / y_train.size(0)

    if (epoch+1) % 10 == 0:
        print(f'Epoch {epoch+1}/{epochs}, Loss: {loss.item()}, Accuracy: {acc}')

Epoch 10/300, Loss: 0.6463330388069153, Accuracy: 0.6749156355455568
Epoch 20/300, Loss: 0.616043210029602, Accuracy: 0.6434195725534309
Epoch 30/300, Loss: 0.5873536467552185, Accuracy: 0.6850393700787402
Epoch 40/300, Loss: 0.5721660852432251, Accuracy: 0.6906636670416197
Epoch 50/300, Loss: 0.5537981986999512, Accuracy: 0.7019122609673791
Epoch 60/300, Loss: 0.5322153568267822, Accuracy: 0.7379077615298087
Epoch 70/300, Loss: 0.5096810460090637, Accuracy: 0.7716535433070866
Epoch 80/300, Loss: 0.48708486557006836, Accuracy: 0.7761529808773904
Epoch 90/300, Loss: 0.46753376722335815, Accuracy: 0.7885264341957255
Epoch 100/300, Loss: 0.4556131660938263, Accuracy: 0.7919010123734533
Epoch 110/300, Loss: 0.4499545395374298, Accuracy: 0.7986501687289089
Epoch 120/300, Loss: 0.4464908540248871, Accuracy: 0.7997750281214848
Epoch 130/300, Loss: 0.444819837808609, Accuracy: 0.7975253093363329

Epoch 140/300, Loss: 0.44278767704963684, Accuracy: 0.8031496062992126
Epoch 150/300, Loss: 0.4412820637226105, Accuracy: 0.8042744656917885
Epoch 160/300, Loss: 0.4404495656490326, Accuracy: 0.8065241844769404
Epoch 170/300, Loss: 0.43907079100608826, Accuracy: 0.7997750281214848
Epoch 180/300, Loss: 0.4373370110988617, Accuracy: 0.8087739032620922
Epoch 190/300, Loss: 0.4369846284389496, Accuracy: 0.8065241844769404
Epoch 200/300, Loss: 0.43585333228111267, Accuracy: 0.8020247469066367
Epoch 210/300, Loss: 0.43451038002967834, Accuracy: 0.8065241844769404
Epoch 220/300, Loss: 0.43498891592025757, Accuracy: 0.8076490438695163
Epoch 230/300, Loss: 0.433246910572052, Accuracy: 0.8042744656917885
Epoch 240/300, Loss: 0.4321049451828003, Accuracy: 0.8076490438695163
Epoch 250/300, Loss: 0.4330235421657562, Accuracy: 0.8076490438695163
Epoch 260/300, Loss: 0.4308086037635803, Accuracy: 0.8065241844769404
Epoch 270/300, Loss: 0.43000155687332153, Accuracy: 0.8076490438695163
Epoch 280/300, Loss: 0.43058139085769653, Accuracy: 0.8076490438695163
Epoch 290/300, Loss: 0.4283006191253662, Accuracy: 0.8087739032620922
Epoch 300/300, Loss: 0.4282664656639099, Accuracy: 0.8065241844769404