# Titanic - Machine Learning from Disaster

Link: 
https://www.kaggle.com/c/titanic/overview

In [241]:
#unzip data

import zipfile
zipfile.ZipFile('data/titanic.zip', 'r').extractall('data/')

# Load and view Train and Test-Data

In [242]:
#view Train data
import pandas as pd
train_df = pd.read_csv('data/train.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [243]:
#describe train data
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [244]:
#view Test data
test_df = pd.read_csv('data/test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [245]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

# Modify Test- and TrainData

In [246]:
#Fill missing Age Data with mean
test_df['Age'] = test_df['Age'].fillna(int(test_df['Age'].mean()))
train_df['Age'] = train_df['Age'].fillna(int(train_df['Age'].mean()))

#Fill missing Fare Data with mean
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].mean())

#Fill nan Embarked data with S
train_df['Embarked'] = train_df['Embarked'].fillna('S')

#convert categorical data to numerical data
train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})
train_df['Embarked'] = train_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
test_df['Sex'] = test_df['Sex'].map({'male': 0, 'female': 1})
test_df['Embarked'] = test_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [247]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 83.7+ KB

In [248]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 36.0+ KB

# Check Data
it seems that not all passengers have a Age in the data

In [249]:
#describe train data
train_df.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.352413,29.560236,0.523008,0.381594,32.204208,0.361392
std,257.353842,0.486592,0.836071,0.477990,13.005010,1.102743,0.806057,49.693429,0.635673
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,0.000000
50%,446.000000,0.000000,3.000000,0.000000,29.000000,0.000000,0.000000,14.454200,0.000000
75%,668.500000,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,1.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000

In [250]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 83.7+ KB

In [251]:
#describe train data
test_df.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,0.363636,30.216507,0.447368,0.392344,35.627188,0.464115
std,120.810458,0.841838,0.481622,12.635016,0.896760,0.981429,55.840500,0.685516
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800,0.000000
50%,1100.500000,3.000000,0.000000,30.000000,0.000000,0.000000,14.454200,0.000000
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.500000,1.000000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200,2.000000

In [252]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 36.0+ KB

# Convert to Tensors

In [253]:
import torch
from sklearn.model_selection import train_test_split

features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

#split data 0.8 train 0.2 validate
split=round(len(train_df) * 0.8)

X_train = torch.from_numpy(train_df[features].values).float()[:split]
y_train = torch.from_numpy(train_df[['Survived']].values).float()[:split]

X_validate = torch.from_numpy(train_df[features].values).float()[split:]
y_validate = torch.from_numpy(train_df[['Survived']].values).float()[split:]


X_test = torch.from_numpy(test_df[features].values).float()

In [254]:
#show shape of data
X_train.shape, y_train.shape, X_validate.shape, y_validate.shape, X_test.shape

(torch.Size([713, 7]),
 torch.Size([713, 1]),
 torch.Size([178, 7]),
 torch.Size([178, 1]),
 torch.Size([418, 7]))

# Building a Model

In [255]:
#building model

import torch.nn as nn

model = nn.Sequential(
    nn.Linear(in_features=7, out_features=200),
    nn.ReLU(),
    nn.Linear(in_features=200, out_features=100),
    nn.ReLU(),    
    nn.Linear(in_features=100, out_features=1),
    nn.Sigmoid()
)

model

Sequential(
  (0): Linear(in_features=7, out_features=200, bias=True)
  (1): ReLU()
  (2): Linear(in_features=200, out_features=100, bias=True)
  (3): ReLU()
  (4): Linear(in_features=100, out_features=1, bias=True)
  (5): Sigmoid()
)

In [256]:
# Hyperparameters
learning_rate = 0.005
epochs = 500

# Loss and optimizer
loss_fn = nn.BCELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

In [257]:
# Training loop
for epoch in range(epochs):
    # Forward pass
    outputs = model(X_train)
    loss = loss_fn(outputs, y_train)

    # Backward and optimize
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    # Compute accuracy
    model.eval()
    with torch.no_grad():
        predicted = torch.round(outputs)
        correct = (predicted == y_train).sum().item()
        test_acc = correct / y_train.size(0)
        
        valid_outputs = model(X_validate)
        valid_loss = loss_fn(valid_outputs, y_validate)
        valid_predicted = torch.round(valid_outputs)
        valid_correct = (valid_predicted == y_validate).sum().item()
        valid_acc = valid_correct / y_validate.size(0)

    if (epoch+1) % 10 == 0:
        print(f'Epoch {epoch+1}/{epochs}, TestLoss: {loss.item()}, TestAccuracy: {test_acc}, ValidLoss: {valid_loss.item()}, ValidAccuracy: {valid_acc}')

Epoch 10/500, TestLoss: 0.7415160536766052, TestAccuracy: 0.6086956521739131, ValidLoss: 0.5413995981216431, ValidAccuracy: 0.7191011235955056
Epoch 20/500, TestLoss: 0.6710779666900635, TestAccuracy: 0.6086956521739131, ValidLoss: 0.5877520442008972, ValidAccuracy: 0.7134831460674157
Epoch 30/500, TestLoss: 0.6086545586585999, TestAccuracy: 0.697054698457223, ValidLoss: 0.5703410506248474, ValidAccuracy: 0.7528089887640449
Epoch 40/500, TestLoss: 0.5675478577613831, TestAccuracy: 0.7335203366058906, ValidLoss: 0.5312395691871643, ValidAccuracy: 0.7865168539325843
Epoch 50/500, TestLoss: 0.5435548424720764, TestAccuracy: 0.726507713884993, ValidLoss: 0.49285343289375305, ValidAccuracy: 0.7696629213483146
Epoch 60/500, TestLoss: 0.5135951042175293, TestAccuracy: 0.761570827489481, ValidLoss: 0.45122361183166504, ValidAccuracy: 0.8258426966292135
Epoch 70/500, TestLoss: 0.5173608660697937, TestAccuracy: 0.7475455820476858, ValidLoss: 0.4423893988132477, ValidAccuracy: 0.8146067415730337
Epoch 80/500, TestLoss: 0.5622924566268921, TestAccuracy: 0.7152875175315568, ValidLoss: 0.38094544410705566, ValidAccuracy: 0.8595505617977528
Epoch 90/500, TestLoss: 0.4536716639995575, TestAccuracy: 0.7840112201963534, ValidLoss: 0.4213930666446686, ValidAccuracy: 0.8314606741573034
Epoch 100/500, TestLoss: 0.44830331206321716, TestAccuracy: 0.791023842917251, ValidLoss: 0.3703524172306061, ValidAccuracy: 0.8539325842696629
Epoch 110/500, TestLoss: 0.4385276734828949, TestAccuracy: 0.7924263674614306, ValidLoss: 0.35809192061424255, ValidAccuracy: 0.8539325842696629
Epoch 120/500, TestLoss: 0.432932049036026, TestAccuracy: 0.8036465638148668, ValidLoss: 0.3550550937652588, ValidAccuracy: 0.8595505617977528
Epoch 130/500, TestLoss: 0.43110591173171997, TestAccuracy: 0.8092566619915849, ValidLoss: 0.3486745059490204, ValidAccuracy: 0.8595505617977528
Epoch 140/500, TestLoss: 0.4280432462692261, TestAccuracy: 0.8078541374474053, ValidLoss: 0.3473946750164032, ValidAccuracy: 0.8651685393258427
Epoch 150/500, TestLoss: 0.42590025067329407, TestAccuracy: 0.8134642356241234, ValidLoss: 0.34692466259002686, ValidAccuracy: 0.8539325842696629
Epoch 160/500, TestLoss: 0.4238744080066681, TestAccuracy: 0.8134642356241234, ValidLoss: 0.3446977734565735, ValidAccuracy: 0.8707865168539326
Epoch 170/500, TestLoss: 0.421720027923584, TestAccuracy: 0.8120617110799438, ValidLoss: 0.343300461769104, ValidAccuracy: 0.8707865168539326
Epoch 180/500, TestLoss: 0.4196469187736511, TestAccuracy: 0.814866760168303, ValidLoss: 0.34311726689338684, ValidAccuracy: 0.8539325842696629
Epoch 190/500, TestLoss: 0.4175718128681183, TestAccuracy: 0.8162692847124825, ValidLoss: 0.34233513474464417, ValidAccuracy: 0.8595505617977528
Epoch 200/500, TestLoss: 0.4264165163040161, TestAccuracy: 0.8162692847124825, ValidLoss: 0.3484899401664734, ValidAccuracy: 0.848314606741573
Epoch 210/500, TestLoss: 0.422349750995636, TestAccuracy: 0.8008415147265077, ValidLoss: 0.3537679612636566, ValidAccuracy: 0.848314606741573

Epoch 220/500, TestLoss: 0.4187890887260437, TestAccuracy: 0.8190743338008415, ValidLoss: 0.3474709093570709, ValidAccuracy: 0.8539325842696629
Epoch 230/500, TestLoss: 0.4208448827266693, TestAccuracy: 0.8036465638148668, ValidLoss: 0.3518652021884918, ValidAccuracy: 0.8539325842696629
Epoch 240/500, TestLoss: 0.41439738869667053, TestAccuracy: 0.8218793828892006, ValidLoss: 0.3473155200481415, ValidAccuracy: 0.8539325842696629
Epoch 250/500, TestLoss: 0.42408835887908936, TestAccuracy: 0.7938288920056101, ValidLoss: 0.3520301282405853, ValidAccuracy: 0.848314606741573
Epoch 260/500, TestLoss: 0.41424325108528137, TestAccuracy: 0.8246844319775596, ValidLoss: 0.34678488969802856, ValidAccuracy: 0.8595505617977528
Epoch 270/500, TestLoss: 0.41690582036972046, TestAccuracy: 0.8008415147265077, ValidLoss: 0.35124751925468445, ValidAccuracy: 0.848314606741573
Epoch 280/500, TestLoss: 0.40990278124809265, TestAccuracy: 0.8274894810659187, ValidLoss: 0.3474573493003845, ValidAccuracy: 0.8539325842696629
Epoch 290/500, TestLoss: 0.4129472076892853, TestAccuracy: 0.8078541374474053, ValidLoss: 0.3428332805633545, ValidAccuracy: 0.8539325842696629
Epoch 300/500, TestLoss: 0.39549729228019714, TestAccuracy: 0.8302945301542777, ValidLoss: 0.3366042673587799, ValidAccuracy: 0.8707865168539326
Epoch 310/500, TestLoss: 0.392578125, TestAccuracy: 0.8288920056100981, ValidLoss: 0.3389248549938202, ValidAccuracy: 0.8595505617977528
Epoch 320/500, TestLoss: 0.4024650454521179, TestAccuracy: 0.8092566619915849, ValidLoss: 0.35148847103118896, ValidAccuracy: 0.8539325842696629
Epoch 330/500, TestLoss: 0.3928288519382477, TestAccuracy: 0.8373071528751753, ValidLoss: 0.34044337272644043, ValidAccuracy: 0.8707865168539326
Epoch 340/500, TestLoss: 0.3882226347923279, TestAccuracy: 0.8387096774193549, ValidLoss: 0.34233394265174866, ValidAccuracy: 0.848314606741573
Epoch 350/500, TestLoss: 0.39679163694381714, TestAccuracy: 0.8218793828892006, ValidLoss: 0.3520245850086212, ValidAccuracy: 0.8651685393258427
Epoch 360/500, TestLoss: 0.38837477564811707, TestAccuracy: 0.8359046283309958, ValidLoss: 0.3428930342197418, ValidAccuracy: 0.8651685393258427
Epoch 370/500, TestLoss: 0.3809780180454254, TestAccuracy: 0.8359046283309958, ValidLoss: 0.34817516803741455, ValidAccuracy: 0.848314606741573
Epoch 380/500, TestLoss: 0.3884596526622772, TestAccuracy: 0.8359046283309958, ValidLoss: 0.3462085425853729, ValidAccuracy: 0.8595505617977528
Epoch 390/500, TestLoss: 0.37590864300727844, TestAccuracy: 0.8429172510518934, ValidLoss: 0.3447071313858032, ValidAccuracy: 0.8595505617977528
Epoch 400/500, TestLoss: 0.37315645813941956, TestAccuracy: 0.8415147265077139, ValidLoss: 0.33947011828422546, ValidAccuracy: 0.8539325842696629
Epoch 410/500, TestLoss: 0.37740737199783325, TestAccuracy: 0.8387096774193549, ValidLoss: 0.34775036573410034, ValidAccuracy: 0.848314606741573
Epoch 420/500, TestLoss: 0.3687259256839752, TestAccuracy: 0.8429172510518934, ValidLoss: 0.34884747862815857, ValidAccuracy: 0.8539325842696629
Epoch 430/500, TestLoss: 0.3669053912162781, TestAccuracy: 0.8401122019635343, ValidLoss: 0.3502286970615387, ValidAccuracy: 0.848314606741573
Epoch 440/500, TestLoss: 0.37334203720092773, TestAccuracy: 0.8429172510518934, ValidLoss: 0.36546558141708374, ValidAccuracy: 0.8370786516853933
Epoch 450/500, TestLoss: 0.37135592103004456, TestAccuracy: 0.8415147265077139, ValidLoss: 0.3574049770832062, ValidAccuracy: 0.8595505617977528
Epoch 460/500, TestLoss: 0.38685187697410583, TestAccuracy: 0.8345021037868162, ValidLoss: 0.35732120275497437, ValidAccuracy: 0.8370786516853933
Epoch 470/500, TestLoss: 0.37332019209861755, TestAccuracy: 0.8373071528751753, ValidLoss: 0.42844802141189575, ValidAccuracy: 0.8426966292134831
Epoch 480/500, TestLoss: 0.3677026629447937, TestAccuracy: 0.8457223001402524, ValidLoss: 0.3918973505496979, ValidAccuracy: 0.8426966292134831
Epoch 490/500, TestLoss: 0.36107876896858215, TestAccuracy: 0.847124824684432, ValidLoss: 0.3674013018608093, ValidAccuracy: 0.8314606741573034
Epoch 500/500, TestLoss: 0.35348984599113464, TestAccuracy: 0.844319775596073, ValidLoss: 0.3519056439399719, ValidAccuracy: 0.8426966292134831

In [258]:
test_outputs = model(X_test)
test_outputs = torch.round(test_outputs).squeeze().tolist()

test_outputs

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0]